<!DOCTYPE html>
<html>
  <head>
    <title>Blocipedia</title>
    <%= csrf_meta_tags %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
<div class="container">
      <header class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="/welcome/index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_up">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_in">Sign In</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Blocipedia</h3>
      </header>

<body>
  <% if user_signed_in? %>
    Signed in as: <strong><%= current_user.email %></strong> |
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-item' %> - <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'nav-item'  %>
      <% if current_user.standard? %>
        <li><%= link_to 'Upgrade Account', new_charge_path, :class => 'nav-item' %></li>
      <% elsif current_user.premium? %>
        <li><%= link_to 'Downgrade Account', downgrade_new_path, :class => 'nav-item' %></li>
      <% end %>
      <% else %>
        <ul>
        <%= link_to "Sign Up", new_user_registration_path, :class => 'nav-item'  %> -
        <%= link_to "Sign In", new_user_session_path, :class => 'nav-item'  %>
        </ul>
  <% end %>
  
  
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>

<%= yield %>
  
  
</body>

</html>
